@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
    <style>
        body {
            background-image: url('images/kisspurple.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }
    </style>
<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>