
@{
    ViewData["Title"] = "NameError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="badge-danger text-center">Sorry!</h1>

<h3 class="badge-warning text-center">You have not entered a valid user please try again.
    <a class=" text-center text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a>

    </h3>

